header {
    background-color: #55BC04;
    height: 70px;
    padding: 20px;
    display: flex;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.content h1 {
    font-size: 20px;
}

.content p {
    font-size: 12px;
}